<a href="./todos/new">Create</a>

{{!-- 拿到 todos  --}}
<ul>
  {{#each todos}}
  <li>
    {{ this.name }}
    <a href="./todos/{{ this._id }}">detail</a>
    <a href="./todos/{{ this._id }}/edit">edit</a>
  </li>
  {{/each}}
</ul>